<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/img/productos/{{producto.idProducto}}.jpg" class="card-img-top" alt="img">
    </div>
    <div class="col-sm-8">
      <table class="table table-striped">
          <thead>
            <tr class="row">
              <th class="col-sm-5"> NOMBRE </th>
              <th class="col-sm-5"> DETALLE </th>
              <th class="col-sm-2"> PRECIO </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row">
              <td class="col-sm-5"><i>{{ producto.nombre }}</i></td>
              <td class="col-sm-5"><i>{{ producto.detalle }}</i></td>
              <td class="col-sm-2"><i>$ {{ producto.precio }}</i></td>
            </tr>
          </tbody>
      </table>
      <a [routerLink]="['/productos/productos']" class="btn btn-primary">Volver</a>
    </div>
  </div>
</div>
